<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667915908516-f7fddcv8pare99t042uhoed2fuph34rj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667915908516-f7fddcv8pare99t042uhoed2fuph34rj</string>
	<key>API_KEY</key>
	<string>AIzaSyASY_KSEpHFyGedlgwb974joGzJdU3pBPk</string>
	<key>GCM_SENDER_ID</key>
	<string>667915908516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doctorByFinal</string>
	<key>PROJECT_ID</key>
	<string>docappfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>docappfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667915908516:ios:05e5f109380e85935c3d31</string>
</dict>
</plist>